/* Import custom fonts */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins&display=swap');
html{
    scroll-behavior: smooth;
}

/* Define UI colors */
:root{
    --primary-bg-color:#fcde67;
    --primary-color:#030E12;
    --secondary-bg-color:#5BCCF6;
    font-size:16px;
}

body{
    box-sizing: border-box;
     background-color:var(--primary-bg-color);   
     color:var(--primary-color);
     font-family:'Poppins',sans-serif;
     animation:fadeInAnimation ease 2s;
     animation-iteration-count: 1;
     animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
    
}
#icon1{
    width:100px;
    margin:60px 48px 12px 16px;
    opacity: .75;
    transform: rotate(-40deg);
    background-color:var(--secondary-bg-color);
}
#icon2{
    width:100px;
    margin:20px 18px 62px 16px;
    opacity: 0.75;
    transform: rotate(-18deg);
    background-color:var(--secondary-bg-color);
}
#icon3{
    width:100px;
    margin:20px 18px 12px 16px;
    opacity: 0.50;
    transform: rotate(-30deg);
    background-color:var(--secondary-bg-color);
}
.title-wrapper{
    height:100vh;
    text-align:center;
    justify-content:center;
    align-items: center;
    padding:64px;
    padding-top:16px;
    margin-top:10vh;
}

#title{
    margin-top:auto;
    font-family:'Pacifico', cursive;
    font-size:2.5rem;
    padding:12px;
    background:linear-gradient(180deg,var(--secondary-bg-color),var(--primary-color));
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}
#description{
    margin-top:32px;
    font-family:'Pacifico', cursive;
    font-size: 1.5rem;
    opacity: 0.5;
}

#startBtn{
    width:12rem;
    margin-top:64px;
    padding:16px;
    background-color:var(--secondary-bg-color);
    color:var(--primary-color);
    font-weight: bold;
    font-family:'Pacifico',cursive;
}

#startBtn:hover{
    transform: scale(1.25);
    transition: 100ms ease-in-out;
    background-color:var(--primary-bg-color);
    color:var(--secondary-bg-color);
}
#mainSection{
    height:100vh;
    background-color:var(--secondary-bg-color);
    text-align: center;
    justify-content: center;
    align-items: center;

}

#searchDescr{
    position:relative;
    top:16px;
    font-size: 3rem;
    background:linear-gradient(180deg,var(--secondary-bg-color),var(--primary-color));
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}
#searchField{
    width:80%;
    position:relative;
    top:32px;
    left:10%;
    border-radius: 16px;
    text-shadow: 0 0 50px blue,
    0 0 50px blue,
    0 0 50px blue,
    0 0 50px blue,
    0 0 50px blue,
    0 0 50px blue,
    0 0 50px blue,
    0 0 50px blue,
    0 0 50px blue,
    0 0 50px blue;
}
#searchBtn{
    position:relative;
    top:48px;
    background-color:var(--primary-bg-color);
    opacity:80%;
    color:var(--primary-color);
    font-weight: bold;
    border-radius: 16px;
}
#searchBtn:hover{
    transform: scale(1.25);
    transition: 100ms ease-in-out;
    background-color:var(--secondary-bg-color);
    color:var(--primary-bg-color);
}
.searched-name{
    position:relative;
    top:64px;
}
.results-div{
    position:relative;
    top: 72px;
    background-color:inherit;
}

.card{
    margin-top: 16px;
    justify-content:flex-start;
    align-items: left;
    flex-direction: row;
    flex-wrap: wrap;
    padding:8px;
    gap:48px;
    width:370px;
    height:200px;
    background-color:#fcde67;
    border:2px solid var(--primary-bg-color);
    box-shadow:2px 4px 4px 4px lightblue;
    border-radius: 16px;
    
}
.card:hover{
    transform: scale(1.1);
    z-index:1;
    transition: 500ms;
}
.country-img{
    margin-top:4px;
    width:120px;
    height:90px;
}
#countryName{
    margin-top:16px;
    font-weight:bold;
    color:var(--primary-color);
}
#probability{
    font-weight:bold;
    color:var(--primary-color);
}
